/* Center the form on the page */
form {
  width: 90%;
  margin: auto;
  max-width: 550px;
  text-align: center;
}

/* Style the input, button, and label */
input,
form button,
label {
  display: block;
  margin: auto;
  text-align: center;
}

input,
textarea {
  outline: none;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  padding: 10px;
  font-size: 90%;
  width: 100%;
  height: 30px;
  color: rgb(53, 53, 53);
}

textarea {
  height: 50px;
}

label {
  margin-top: 10px;
  font-weight: bold;
  color: #000;
}

form button {
  --accent: rgb(0, 162, 255);
  margin-top: 20px;
}

.form-container {
  width: 90%;
  margin: auto;
}

/* Style for error messages */
.error-message {
  color: red;
  margin-top: 10px;
  font-size: 90%;
}

/* Styles for password form */
.password-container {
  margin-top: 20px;
}

.password-label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

.password-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  font-size: 16px;
}
